{% extends 'base.html.twig' %}

{% block title %}Edit Pet{% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset("css/dashboard.css") }}">

{% endblock %}
     {% block navbar %}
           <nav class="navbar navbar-expand-lg bg-dark"  data-bs-theme="dark">
  <div class="container-fluid"><div>
    <a class="navbar-brand" href="/dashboard">Home</a>
    <a href="/admin/user" class="navbar-brand">Manage Users</a></div>
    <div>
        <a class="navbar-brand" href="/home">User Home</a>

    <a class="navbar-brand " href="#">Hello, <span class="text-primary">{{app.user.fname}}</span></a>
    <img class="rounded" src="{{asset('uploads/' ~ app.user.image)}}" style="width:7vh;height:7vh;" alt="">
    <a href="/logout" class="navbar-brand">Log out</a>
    </div>
  </div>
 
</nav>

          {% endblock %}


{% block body %}
    <h1 class="text-center mb-2 mt-2  animate__fadeInLeft animate__animated">Edit Pet</h1>
<div class="container">
    {{ include('pet/_form.html.twig', {'button_label': 'Update'}) }}
   <button class="noselect1 mt-2 mb-5"> <a class="updel" href="{{ path('app_pet_index') }}">Back</a></button>


{% endblock %}
{% block footer %}
{% endblock %}